#telaMenu{
background-color: #87BC9C;
width: 32%;
height: 80%;
flex-direction: column;
display: flex;
align-items: center;
justify-content: center;
border-radius: 10px;
}
#BemVindo{
    height: 20vh;
    width: 100%;
     display: flex;
     justify-content: center;
     align-items: center ;
     color: #1A4D2E;
     background-color: #1A4D2E;
     font-size: larger;
     
  
     
 }
#flex{
    display: flex;
    align-items: baseline;
    justify-content: center;
    background-color: #1A4D2E;
    width: 90fr;
    height: 70vh;
    
}
.opcao {
    margin-top: 5%;
    margin-bottom: 7%;
    color: #1A4D2E;
    font-size: 25px;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
    
}
.opcao:hover{
    border-bottom: 4px solid #1A4D2E;
    
}
#border{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #ffffff;
    border: 3px solid #87BC9C;
    border-radius: 10px;
  
}

