<div id="BemVindo"><p id="border">Bem-vindo: !</p></div>
<div id="flex">
   
<div id="telaMenu">
     
   <a class="opcao" (click)="listaPacientesRoute()">
    Lista de Pacientes 
   </a>
   <a class="opcao" (click)="CadastrarPacienteRoute()">
    Cadastar Paciente
   </a>
   <a class="opcao" (click)="confirmarLogout()">
    Logout
   </a>
</div>
<app-modal 
*ngIf="aparecerModal" 
(confirmar)="botaoConfirmarModal()"
(fechar)="fecharModalRegistrar()"
[titulo]="tituloModal"
[conteudo]="conteudoModal"
[tipoModal]="tipoModal"
></app-modal>
</div>
