<div id="BemVindo"><p id="border">Bem-vindo: {{nomeNutricionistaLogado}}</p></div>
<div id="flex">
   
<div id="telaMenu">
     
   <a class="opcao" (click)="listaPacientesRoute()">
    Lista de Pacientes 
   </a>
   <a class="opcao" (click)="CadastrarPacienteRoute()">
    Cadastar Paciente
   </a>
   <a class="opcao" (click)="confirmarLogout()">
    Logout
   </a>
</div>
</div>
<app-modal *ngIf="aparecerModalLogOut">
   <ng-container title>
     <h2>Deseja Realmente Sair?</h2>
   </ng-container>
   <ng-container body>
    <p>{{nomeNutricionistaLogado}}</p>
  </ng-container>
   <ng-container buttons>
     <button class="cancel-button" (click)="fecharModalLogOut()">Cancelar</button>
     <button class="confirm-button" (click)="logOutRoute()">Confirmar</button>
   </ng-container>
 </app-modal>
