<div id="BemVindo"><p id="border">Bem-vindo: !</p></div>
<div id="flex">
   
<div id="telaMenu">
 
   <a class="opcao" (click)="NovaConsultaRoute()">
    Nova consulta
   </a>
     
   <a class="opcao" (click)="listaPacientesRoute()">
    Listar Pacientes 
   </a>
   <a class="opcao" (click)="CadastrarPacienteRoute()">
    Cadastar Paciente
   </a>
   <a class="opcao" (click)="LogoutRoute()">
    Logout
   </a>
</div>
<app-modal
*ngIf="modalConfirmacao"
[titulo]="'Logout'"
[conteudo]="'Você deseja sair?'"
></app-modal>
</div>
