<div class="mainContainer">
<section id="section-pacient-list">
  <!-- ngfor paciente of pacientes -->
  <div class="modalVerificacao" *ngIf="!verificaListaPacientes()">
    <h1 class="modalTitle">Nenhum paciente cadastrado!</h1>
    <h2 class="modalSubtitle">Clique abaixo para cadastrar um paciente!</h2>
    <div class="divBtns">
      <!-- <a class="backCadastrar">Cadastrar um paciente</a> -->
      <a class="backCadastrar" routerLink="/Cadastro-Paciente">Cadastro Paciente</a>
    </div>
  </div>  

  <div class="center-square" *ngFor="let paciente of ngForPacientes()">
    
    <div class="pacient-square">
      <div class="div-pacient-square"><h1>Nome: {{paciente.nomeCompleto}}</h1></div>
      <div class="div-pacient-square"><h1>E-mail: {{paciente.email}}</h1></div>
      <div class="div-pacient-square" id="div-pacient-square-icon">
        <a (click)="openModal(paciente)" style="cursor: pointer" *ngIf="!paciente.mostrarModal"
          ><img [src]="upArrowIcon" class="arrow-icon"
        /></a>
        <a (click)="closeModal(paciente)" style="cursor: pointer" *ngIf="paciente.mostrarModal"
          ><img [src]="downArrowIcon" class="arrow-icon"
        /></a>
      </div>
    </div>
    <div id="modal-square" *ngIf="paciente.mostrarModal">
      <div id="block-div-title-modal">
        <h1>Informações Gerais</h1>
      </div>
      <div id="pacient-informations">
        <div id="more-informations">
          <h2>Sexo: {{paciente.sexo}}</h2>
          <h2>Telefone: {{paciente.telefone}}</h2>
          <h2>Data de Nascimento: {{paciente.dataNascimento}}</h2>
        </div>
        <div id="buttons-pacient-informations">
          <button class="buttons-informations green-button"
          (click)="abrirNovaConsulta(paciente)">
            Nova Consulta
          </button>
          <button class="buttons-informations green-button"
          (click)="abrirRelatorios(paciente)">
            Consultar Relatórios
          </button>
          <button 
          class="buttons-informations red-button"
          (click)="abrirModalConfirmacaoRemocao(paciente)"
          >
            Remover Paciente
          </button>
        </div>
      </div>
    </div>
    </div>
      <div class="center-square-relatorio" *ngIf="modalRelatorio">
        <div class="boxTitle">
          <a (click)="voltarListaPacientes()"><img [src]="arrowBack" class="arrowBackIcon"></a>
          <h2 id="tittle-relatorio">Relatórios de {{pacienteRelatorio.nomeCompleto}}</h2>
        </div>
        <div class="relatorios" *ngFor="let consulta of pacienteRelatorio.relatorios">
          <div class="relatorio">
            <div class="divs-grid-relatorio">
              <ul class="list-items-relatorio">
                <li>Altura: {{consulta.altura}} cm</li>
                <li>Peso: {{consulta.peso}} KG</li>
                <li>Percentual de Gordura: {{consulta.porcentagemGordura}} %</li>
                <li>Taxa Metabólica Basal: {{consulta.taxaMetabolicaBasal}} Kcal</li>
                <li>Data da Consulta: {{consulta.dataConsulta}}</li>
              </ul>
            </div>
            <div class="divs-grid-relatorio">
              <ul class="list-items-relatorio" id="custom-altura">
                <li>Triglicerídeos: {{consulta.triglicerideos}} mg / dL</li>
                <li>Diabetes: {{consulta.diabetes}} mg / dL</li>
                <li>Colesterol: {{consulta.colesterol}} mg / dL </li>
                <li>IMC: {{consulta.imc}}</li>
              </ul>
              <div class="div-buttons-relatorios">
                <button class="buttons-relatorios" (click)="abrirModalInformacaoAutoFeedback(consulta.autofeedback)">Auto Feedback</button>
                <button class="buttons-relatorios" (click)="abrirModalInformacaoOjetivo(consulta.objetivoConsulta)">Objetivo do Paciente</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modalVerificacao" *ngIf="modalAvisoListaVaziaRelatorio">
          <h1 class="modalTitle">Nenhum relatório registrado!</h1>
          <h2 class="modalSubtitle">Clique abaixo para cadastrar uma Nova Consulta!</h2>
          <div class="divBtns">
            <!-- <a class="backCadastrar">Cadastrar um paciente</a> -->
            <a class="backCadastrar" (click)="abrirNovaConsulta(pacienteRelatorio)">Nova Consulta</a>
          </div>
        </div>    
        <!-- NGFOR -->
    </div>
    <app-modal *ngIf="aparecerModalConfirmarRemocao">
      <ng-container title>
        <h2>{{tituloConfirmacao}}</h2>
      </ng-container>
      <ng-container body>
      <p>{{mensagemConfirmacao}}</p>
      </ng-container>
      <ng-container buttons>
        <button class="cancel-button" (click)="fecharModalRemocao()">Cancelar</button>
        <button class="confirm-button" (click)="removerPaciente(paciente)">Confirmar</button>
      </ng-container>
    </app-modal>

  <!-- MODAL AVISO -->
    <app-modal *ngIf="aparecerModalInformacao">
      <ng-container close>
        <p style="cursor: pointer;" (click)="fecharModalInformacao()">&#10060;</p>
      </ng-container>
      <ng-container title>
        <h2>{{tipoDadoInformacao}}</h2>
      </ng-container>
      <ng-container body>
       <p>{{textoModalInformacao}}</p>
     </ng-container>
    </app-modal>
</section>
</div>