<section id="section-pacient-list">
  <!-- ngfor paciente of pacientes -->
  <div class="center-square" *ngIf="!modalRelatorio" [class.low-opacity]="modalConfirmacao">
    <div class="pacient-square">
      <div class="div-pacient-square"><h1>Nome:</h1></div>
      <div class="div-pacient-square"><h1>E-mail:</h1></div>
      <div class="div-pacient-square" id="div-pacient-square-icon">
        <a (click)="openModal()" style="cursor: pointer" *ngIf="!modalDescricaoPaciente"
          ><img [src]="upArrowIcon" class="arrow-icon"
        /></a>
        <a (click)="closeModal()" style="cursor: pointer" *ngIf="modalDescricaoPaciente"
          ><img [src]="downArrowIcon" class="arrow-icon"
        /></a>
      </div>
    </div>
    <div id="modal-square" *ngIf="modalDescricaoPaciente">
      <div id="block-div-title-modal">
        <h1>Informações Gerais</h1>
      </div>
      <div id="pacient-informations">
        <div id="more-informations">
          <h2>Sexo:</h2>
          <h2>Telefone:</h2>
          <h2>Data de Nascimento:</h2>
        </div>
        <div id="buttons-pacient-informations">
          <button class="buttons-informations green-button"
          (click)="abrirRelatorios()">
            Consultar Relatórios
          </button>
          <button 
          class="buttons-informations red-button"
          (click)="abrirModalConfirmacao()"
          >
            Remover Paciente
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="center-square-relatorio" *ngIf="modalRelatorio" [class.low-opacity]="modalConfirmacao">
    <div class="boxTitle">
      <a (click)="voltarListaPacientes()"><img [src]="arrowBack" class="arrowBackIcon"></a>
      <h2 id="tittle-relatorio">Otávio Miguel Rocha</h2>
    </div>
    <div class="relatorios">
      <div class="relatorio">
        <div class="divs-grid-relatorio">
          <ul class="list-items-relatorio">
            <li>Altura: </li>
            <li>Peso: </li>
            <li>Percentual de Gordura: </li>
            <li>Taxa Metabólica Basal: </li>
            <li>Data da Consulta:</li>
          </ul>
        </div>
        <div class="divs-grid-relatorio">
          <ul class="list-items-relatorio" id="custom-altura">
            <li>Triglicerídeos:</li>
            <li>Diabetes:</li>
            <li>Colesterol:</li>
          </ul>
          <div class="div-buttons-relatorios">
            <button class="buttons-relatorios">Auto Feedback</button>
            <button class="buttons-relatorios">Objetivo do Paciente</button>
          </div>
        </div>
      </div>
    </div>    
    <!-- NGFOR -->
  </div>
  <app-modal 
  *ngIf="modalConfirmacao" 
  [titulo]="'Remover Usuário'"
  [conteudo]="'O paciente será removido permanentemente.'"
  ></app-modal>
</section>
