

#section-pacient-list {
  display: flex;
  width: 100vw;
  height: 100%;
  background-color: #1a4d2e;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modalVerificacao {
  width: 50%;
  height: 50vh;
  background-color:#Ffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin-top: 10%;
}

.modalTitle {
  font-size: 34px; 
}

.modalSubtitle {
  font-size: 22px; 
}

.divBtns {
  margin-top: 30px;
  width: 45%;
  display: flex;
  justify-content: center;
  border: none;
  color: #fff;
  font-weight: 500;
}

.backCadastrar {
  margin-top: 10px;
  padding: 10px 35px;
  border-radius: 10px;
  background-color: #1a4d2e;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.center-square {
  display: flex;
  width: 60vw;
  height: 100%;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  
}
.pacient-square {
  display: grid;
  width: 100%;
  height: 10vh;
  background-color: #87bc9c;
  border-radius: 15px;
  grid-template-columns: 47% 47% 6%;
}
.div-pacient-square {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  margin-left: 5%;
}
#div-pacient-square-icon {
  display: flex;
  justify-content: center;
}
.arrow-icon {
  display: flex;
  height: 30px;
  width: auto;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

/* MODAL */
#modal-square {
  display: flex;
  width: 100%;
  height: 35%;
  border-radius: 15px;
  background-color: white;
  flex-direction: column;
}
#block-div-title-modal {
  display: flex;
  width: 35%;
  height: 20%;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-bottom: 5px solid #1a4d2e;
}
#pacient-informations {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 50%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
/* left side informations */
#more-informations {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 7%;
}

/* rigth side buttons */
#buttons-pacient-informations {
  display: flex;
  flex-direction: column;
  height: 75%;
  padding: 10px;
}

/* BUTTONS */
.buttons-informations {
  display: flex;
  width: 80%;
  height: 30%;
  border-radius: 10px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 2%;
  border: 1px solid #000;
}
.green-button {
  background-color: #1a4d2e;
  color: white;
}
.red-button {
  background-color: #a10000;
  color: white;
}
.buttons-informations:hover {
  transform: scale(1.05);
  transition: all .2s ease-in-out;
}

/* MODAL RELATORIOS */
.boxTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 98.1%;
  border-radius: 10px;
  padding: 10px;
  background-color: #fff;
}
.arrowBackIcon {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.center-square-relatorio{
  display: flex;
  width: 80%;
  max-height: 100%;
  background-color: #87BC9C;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
#tittle-relatorio{
  justify-content: center;
}

.relatorios{
  display: flex;
  width: 81%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.relatorio{
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 5%;
  background-color: white;
  width: 80%;
  min-height: 230px;
  height: 100%;
  padding-left:5%;
  padding-right: 5%;
  border-radius: 10px;
}
.divs-grid-relatorio{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.list-items-relatorio{
  list-style-type: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
#custom-altura{
  display: flex;
  height: 70%;
  align-items: center;
}
.div-buttons-relatorios{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}
.buttons-relatorios{
  display: flex;
  height: 30%;
  width: 35%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.buttons-relatorios:hover{
  border-bottom: 4px solid black;
  border-right: 4px solid black;
}
.white{
  background-color: white;
}



.low-opacity {
  opacity: 0.5;
  pointer-events: none;
}

/* MODAIS */
.cancel-button {
  background-color: rgb(158, 28, 28);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}
.confirm-button {
background-color: #1a4d2e;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
}

.cancel-button:hover,
.confirm-button:hover {
cursor: pointer;
opacity: 0.8;
}