<div class="divPrincipal">
  <div class="divBoxCadastroPaciente">
    <div class="boxTitle">
      <img [src]="arrowBack" class="arrowBackIcon" (click)="voltarMenuPrincipal()">
      <h1 class="title">Novo Paciente</h1>
    </div>
    <div class="divSubBox">
      <div class="divCadastro">
        <div class="ladoEsquerdo">
          <p class="inputsName">Nome Completo :</p>
          <input class="inputsText" type="text" [(ngModel)]="paciente.nomeCompleto">
          <p class="inputsName">E-mail :</p>
          <input class="inputsText" type="text" [(ngModel)]="paciente.email">
          <p class="inputsName">Telefone :</p>
          <input class="inputsText" type="text" [(ngModel)]="paciente.telefone">
          <p class="inputsName">Sexo :</p>
          <input class="inputsCheck" type="checkbox" [(ngModel)]="masculino">
          <label>Masculino</label>
          <input class="inputsCheck" type="checkbox" [(ngModel)]="feminino">
          <label>Feminino</label>
          <p class="inputsName">Data de Nascimento :</p>
          <input class="inputDate" type="date" [(ngModel)]="paciente.dataNascimento">
        </div>
        <div class="ladoDireito">
          <img [src]="userIcon" class="userIcon">
          <a class="cadastrarBtn" (click)="confirmarCadastro()">Cadastrar</a>
        </div>
      </div>
    </div>
  </div>
  <app-modal 
  *ngIf="aparecerModal" 
  (confirmar)="cadastrarPaciente()"
  (fechar)="fecharModalRegistrar()"
  [titulo]="tituloModal"
  [conteudo]="conteudoModal"
  [tipoModal]="tipoModal"
  ></app-modal>
</div>