<!-- Div geral da página -->
<div class="divPrincipal">
  <!-- Div da caixa de cadastro -->
  <div class="divBoxCadastroPaciente">
    <!-- Div de retorno da caixa de cadastro -->
    <div class="boxTitle">
      <img [src]="arrowBack" class="arrowBackIcon" (click)="voltarMenuPrincipal()">
      <h1 class="title">Novo Paciente</h1>
    </div>
    <!-- Div de conteúdo principal da caixa de cadastro -->
    <div class="divSubBox">
      <div class="divCadastro">
        <!-- Div onde serão inseridos os dados do paciente -->
        <div class="ladoEsquerdo">
          <p class="inputsName">Nome Completo :</p>
          <input class="inputsText" type="text" [(ngModel)]="paciente.nomeCompleto">
          <p class="inputsName">E-mail :</p>
          <input class="inputsText" type="email" [(ngModel)]="paciente.email">
          <p class="inputsName">Telefone :</p>
          <input class="inputsText" type="number" [(ngModel)]="paciente.telefone">
          <p class="inputsName">Sexo :</p>
          <input class="inputsCheck" type="checkbox" [checked]="disableMasculino" (click)="clickDisable('masculino')">
          <label>Masculino</label>
          <input class="inputsCheck" type="checkbox" [checked]="disableFeminino" (click)="clickDisable('feminino')">
          <label>Feminino</label>
          <p class="inputsName">Data de Nascimento :</p>
          <input class="inputDate" type="date" [(ngModel)]="paciente.dataNascimento">
        </div>
        <!-- Div onde será realizada a finalização do cadastro -->
        <div class="ladoDireito">
          <img [src]="userIcon" class="userIcon">
          <button class="cadastrarBtn" (click)="confirmarCadastro()">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Component modal de confirmação -->
  <app-modal *ngIf="aparecerModalConfirmarCadastroPaciente">
    <ng-container title>
      <h2>{{tituloConfirmacao}}</h2>
    </ng-container>
    <ng-container body *ngFor="let dado of dados">
    <p>{{dado}}</p>
    </ng-container>
    <ng-container buttons>
      <button class="cancel-button" (click)="fecharModalConfirmRegister()">Cancelar</button>
      <button class="confirm-button" (click)="cadastrarPaciente()">Confirmar</button>
    </ng-container>
  </app-modal>

    <!-- Component modal de aviso -->
    <app-modal *ngIf="aparecerModalAvisoCadastro">
      <ng-container close>
        <p style="cursor: pointer;" (click)="fecharModalConfirmRegister()">&#10060;</p>
      </ng-container>
      <ng-container title>
        <h2>{{tituloErro}}</h2>
      </ng-container>
      <ng-container body>
        <p>{{mensagemErro}}</p>
      </ng-container>
    </app-modal>
</div>