<section id="section-menu-inicial">
  <div id="grid-login-register">
    <div id="square-login">
      <h2>Bem-Vindo</h2>
      <div id="label-inputs-position">
        <div class="label-inputs">
          <label class="labels-margem">CRN</label>
          <input class="inputs" type="text" placeholder="Insira o seu CRN aqui...">
        </div>
        <div class="label-inputs">
          <label class="labels-margem">Senha</label>
          <input class="inputs" type="password" placeholder="Insira sua senha aqui...">
        </div>
      </div>
      <button class="buttons">Entrar</button>
    </div>
    <div>Teste</div>
  </div>
</section>
