<section id="section-menu-inicial">
  <div id="grid-login-register">
    <!-- login-square -->
    <div class="square-lightgreen" *ngIf="!loginERegisterView">
      <h2>Bem-Vindo</h2>
      <div id="label-inputs-position" class="flex-direction-column">
        <div class="label-inputs flex-direction-column">
          <label class="labels-margem-esquerdo">CRN</label>
          <input
            class="inputs-esquerdo"
            type="text"
            placeholder="Insira o seu CRN aqui..."
            [(ngModel)]="loginCRN"
            (ngModelChange)="formatarCRNLogin()"
            maxlength="7"
          />
        </div>
        <div class="label-inputs flex-direction-column">
          <label class="labels-margem-esquerdo">Senha</label>
          <input
            class="inputs-esquerdo"
            type="password"
            placeholder="Insira sua senha aqui..."
            [(ngModel)]="loginSenha"
          />
        </div>
      </div>
      <button class="buttons" (click)="verificacaoLogin()">Entrar</button>
    </div>
    <!--  -->
    <!-- register-button-square -->
    <div class="div-other-option flex-direction-column" *ngIf="!loginERegisterView">
      <button class="buttons" (click)="trocaTelaRegistro()">
        Registrar-se
      </button>
      <h4 class="mensagens-indicativas">Não possui conta?</h4>
    </div>
    <!--  -->
    <!-- login-button-square -->
    <div class="div-other-option flex-direction-column" *ngIf="loginERegisterView">
      <button class="buttons" (click)="trocaTelaLogin()">Entrar</button>
      <h4 class="mensagens-indicativas">Já possui conta?</h4>
    </div>
    <!--  -->
    <!-- register-square -->
    <div class="square-lightgreen" *ngIf="loginERegisterView">
      <h2>Faça seu Cadastro</h2>
      <div class="label-inputs-register flex-direction-column">
        <label class="labels-margem-direito">Nome Completo</label>
        <input
          [(ngModel)]="nutricionista.nomeCompleto"
          class="inputs-direito"
          type="text"
          placeholder="Insira seu nome completo aqui..."
        />
      </div>
      <div class="label-inputs-register flex-direction-column">
        <label class="labels-margem-direito">E-mail</label>
        <input
          [(ngModel)]="nutricionista.email"
          class="inputs-direito"
          type="text"
          placeholder="Insira seu e-mail aqui..."
        />
      </div>
      <div id="grid-password-crn">
        <div class="label-inputs flex-direction-column password-crn">
          <label  class="labels-margem-direito">Senha</label>
          <input
            [(ngModel)]="nutricionista.senha"
            class="inputs-direito"
            type="password"
            placeholder="Crie uma senha aqui..."
          />
        </div>
        <div class="label-inputs flex-direction-column password-crn">
          <label class="labels-margem-direito">CRN</label>
          <input 
          [(ngModel)]="nutricionista.CRN" 
          class="inputs-direito" 
          type="text"
          (ngModelChange)="formatarCRNRegistro()"
          maxlength="7"
          placeholder="XX-XXXX" />
        </div>
      </div>
      <button class="buttons register-button" (click)="abrirModalRegistrar()">Registrar-se</button>
    </div>
  </div>
  <app-modal *ngIf="aparecerModalConfirmarRegister">
    <ng-container title>
      <h2>{{tituloConfirmacao}}</h2>
    </ng-container>
    <ng-container body *ngFor="let dado of dados">
     <p>{{dado}}</p>
   </ng-container>
    <ng-container buttons>
      <button class="cancel-button" (click)="fecharModalConfirmRegister()">Cancelar</button>
      <button class="confirm-button" (click)="confirmarRegister()">Confirmar</button>
    </ng-container>
  </app-modal>

  <!-- MODAL AVISO -->
  <app-modal *ngIf="aparecerModalAvisoRegister">
    <ng-container close>
      <p style="cursor: pointer;" (click)="fecharModalAvisoRegister()">&#10060;</p>
    </ng-container>
    <ng-container title>
      <h2>{{tituloErro}}</h2>
    </ng-container>
    <ng-container body>
     <p>{{erro}}</p>
   </ng-container>
  </app-modal>
</section>
