<section id="section-menu-inicial">
  <div id="grid-login-register">
    <!-- login-square -->
    <div class="square-lightgreen" *ngIf="!loginERegisterView">
      <h2>Bem-Vindo</h2>
      <div id="label-inputs-position" class="flex-direction-column">
        <div class="label-inputs flex-direction-column">
          <label class="labels-margem-esquerdo">CRN</label>
          <input
            class="inputs-esquerdo"
            type="text"
            placeholder="Insira o seu CRN aqui..."
            [(ngModel)]="loginCRN"
            mask="99-9999"
          />
        </div>
        <div class="label-inputs flex-direction-column">
          <label class="labels-margem-esquerdo">Senha</label>
          <input
            class="inputs-esquerdo"
            type="password"
            placeholder="Insira sua senha aqui..."
            [(ngModel)]="loginSenha"
          />
        </div>
      </div>
      <button class="buttons" (click)="verificacaoLogin()">Entrar</button>
    </div>
    <!--  -->
    <!-- register-button-square -->
    <div class="div-other-option flex-direction-column" *ngIf="!loginERegisterView">
      <button class="button-registrar" (click)="trocaTelaRegistro()">
        Registrar-se
      </button>
      <h4>Não possui conta?</h4>
    </div>
    <!--  -->
    <!-- login-button-square -->
    <div class="div-other-option flex-direction-column" *ngIf="loginERegisterView">
      <button class="buttons" (click)="trocaTelaLogin()">Entrar</button>
      <h4>Já possui conta?</h4>
    </div>
    <!--  -->
    <!-- register-square -->
    <div class="square-lightgreen" *ngIf="loginERegisterView">
      <h2>Faça seu Cadastro</h2>
      <div class="label-inputs-register flex-direction-column">
        <label class="labels-margem-direito">Nome Completo</label>
        <input
          [(ngModel)]="nutricionista.nomeCompleto"
          class="inputs-direito"
          type="text"
          placeholder="Insira seu nome completo aqui..."
        />
      </div>
      <div class="label-inputs-register flex-direction-column">
        <label class="labels-margem-direito">E-mail</label>
        <input
          [(ngModel)]="nutricionista.email"
          class="inputs-direito"
          type="text"
          placeholder="Insira seu e-mail aqui..."
        />
      </div>
      <div id="grid-password-crn">
        <div class="label-inputs flex-direction-column">
          <label  class="labels-margem-direito">Senha</label>
          <input
            [(ngModel)]="nutricionista.senha"
            class="inputs-direito"
            type="password"
            placeholder="Crie uma senha aqui..."
          />
        </div>
        <div class="label-inputs flex-direction-column">
          <label class="labels-margem-direito">CRN</label>
          <input 
          [(ngModel)]="nutricionista.CRN" 
          class="inputs-direito" 
          type="text"
          mask="99-9999"
          placeholder="XX-XXXX" />
        </div>
      </div>
      <button class="button-registrar" (click)="abrirModalRegistrar()">Registrar-se</button>
    </div>
  </div>
  <app-modal 
  *ngIf="aparecerModal" 
  (confirmar)="botaoConfirmarModal()"
  (fechar)="fecharModalRegistrar()"
  [titulo]="tituloModal"
  [conteudo]="conteudoModal"
  [tipoModal]="tipoModal"
  ></app-modal>
</section>
