<div class="conteiner">

  <div class="fundo-da-novaConsulta">
    <div class="parte-superior">
      <img [src]="arrowBack" class="arrowBack" (click)="voltaListaPacientes()">
      <p id="texto-consulta">{{pacienteNovaConsulta.nomeCompleto}}</p>
    </div>
    <div class="container-do-cadastro">

      <div class="cadastro-da-novaConsulta">

        <div class="container-inputs-superior">
          <div class="inputs-com-texto">
            <div class="texto">
               <p id="texto-principal">Altura</p>
               <p class="textosInputs">*Obrigatório</p>  
            </div>

            <input class="alturaInput" [(ngModel)]="consulta.altura" 
            type="text" maxlength="3" placeholder="CM">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Peso</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>
            
            <input class="pesoInput" [(ngModel)]="consulta.peso" type="text" 
            maxlength="5" placeholder="KG">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Porcentagem de Gordura</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>
            
            <input class="porcentagemGorduraInput" [(ngModel)]="consulta.porcentagemGordura"  type="text" 
            maxlength="3" placeholder="%">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Taxa Metabólica Basal</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>

            <input class="taxaMetabolicaInput" [(ngModel)]="consulta.taxaMetabolicaBasal" type="text"
            maxlength="5" placeholder="KCAL">
          </div>
         
         
        </div>
        
        <div class="conteiner-inputs-medio">
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Triglicerídeos</p>
              
            </div>

            <input class="triglicerideosInput" [(ngModel)]="consulta.triglicerideos" type="text"
            maxlength="4" placeholder="mg / dL">
          </div>
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Diabetes</p>
            
            </div>

            <input class="diabetesInput" [(ngModel)]="consulta.diabetes" type="text"
            maxlength="3" placeholder="mg / dL">
          </div>
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Colesterol</p>
              
            </div>

            <input class="colesterolInput" [(ngModel)]="consulta.colesterol"  type="text"
            maxlength="4" placeholder="mg / dL">
          </div>
        </div>
          
        <div class="conteiner-inputs-inferior">
        
              <div class="inputs-com-texto">
              <div class="textoGrande">
                <p class="inputGrandeText">Autofeedback do paciente</p>
                
              </div>
  
              <div class="background-textarea">
                <textarea  class="autofeedbackTextarea" [(ngModel)]="consulta.autofeedback"  id="myTextarea"></textarea>
              </div>
            </div>
            
            <div class="inputs-com-texto">
              <div class="textoGrande">
                <p class="inputGrandeText" style="margin-top: 5px;">Objetivo da consulta</p>
                
              </div>
  
              <div class="background-textarea">
                <textarea  class="objetivoConsultaTextarea" [(ngModel)]="consulta.objetivoConsulta" id="myTextarea"></textarea>
              </div>

             
            </div>
            <div class="div-date">
              <p id="texto-principal" style="margin-top: 15px;">Data da consulta</p>
              <input [(ngModel)]="consulta.dataConsulta" type="date" class="dataInput">
            </div>
           
            <div class="botoes">
              <button class="buttons-cadastro" id="cancelar" (click)="cancelarCadastro()">Cancelar</button>
              <button class="buttons-cadastro" id="cadastrar" (click)="abrirModalConfirmacaoNovaConsulta()">Cadastrar</button>
              
            </div>
        </div>
        
      </div>
    </div>
  </div>
  <app-modal *ngIf="modalConfirmacaoNovaConsulta">
      <ng-container title>
        <h2>{{tituloConfirmacao}}</h2>
      </ng-container>
      <ng-container body>
        <p>{{pacienteNovaConsulta.nomeCompleto}}</p>
      </ng-container>
      <ng-container buttons>
        <button class="cancel-button" (click)="fecharModalConfirmacaoNovaConsulta()">Cancelar</button>
        <button class="confirm-button" (click)="novaConsulta()">Confirmar</button>
      </ng-container> 
  </app-modal>
  <app-modal *ngIf="modalAvisoNovaConsulta">
    <ng-container close>
      <p style="cursor: pointer;" (click)="fecharModalConfirmacaoNovaConsulta()">&#10060;</p>
    </ng-container>
    <ng-container title>
      <h2>{{tituloErro}}</h2>
    </ng-container>
  </app-modal>
</div>

