<div class="conteiner">

  <div class="fundo-da-novaConsulta">
    <div class="parte-superior">
      <img [src]="arrowBack" class="arrowBack" (click)="voltaListaPacientes()">
      <p id="texto-consulta">Nova Consulta</p>
    </div>
    <div class="container-do-cadastro">

      <div class="cadastro-da-novaConsulta">

        <div class="container-inputs-superior">
          <div class="inputs-com-texto">
            <div class="texto">
               <p id="texto-principal">Altura</p>
               <p class="textosInputs">*Obrigatório</p>  
            </div>

            <input type="text">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Peso</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>
            
            <input type="text">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Porcentagem de Gordura</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>
            
            <input type="text">
          </div>

          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Taxa Metabólica Basal</p>
              <p class="textosInputs">*Obrigatório</p>  
            </div>

            <input type="text">
          </div>
         
         
        </div>
        
        <div class="conteiner-inputs-medio">
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Triglicerídeos</p>
              
            </div>

            <input type="text">
          </div>
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Diabetes</p>
            
            </div>

            <input type="text">
          </div>
          <div class="inputs-com-texto">
            <div class="texto">
              <p id="texto-principal">Colesterol</p>
              
            </div>

            <input type="text">
          </div>
        </div>
          
        <div class="conteiner-inputs-inferior">
        
              <div class="inputs-com-texto">
              <div class="textoGrande">
                <p class="inputGrandeText">Autofeedback do paciente</p>
                
              </div>
  
              <div class="background-textarea">
                <textarea id="myTextarea"></textarea>
              </div>
            </div>
            
            <div class="inputs-com-texto">
              <div class="textoGrande">
                <p class="inputGrandeText" style="margin-top: 5px;">Objetivo da consulta</p>
                
              </div>
  
              <div class="background-textarea">
                <textarea id="myTextarea"></textarea>
              </div>

             
            </div>
            <div class="div-date">
              <p id="texto-principal" style="margin-top: 15px;">Data da consulta</p>
              <input type="date" class="dataInput">
            </div>
           
            <div class="botoes">
              <button id="cancelar">Cancelar</button>
              <button id="cadastrar">Cadastrar</button>
              
            </div>
        </div>
        
      </div>

    </div>
  </div>


</div>

